.formContainer {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  box-sizing: border-box;
  width: 50%;
  height: fit-content;
}

.formContainer::-webkit-scrollbar{
  width: 12px;
  height: 5px;
}

.formContainer::-webkit-scrollbar-thumb{
  width: 12px;
  height: 5px;
  background-color: #3c00a0;
}

.formContainer::-webkit-scrollbar-track {
  background: white;
}

.formElement {
  width: 100%;
  margin-right: 10px;
  flex-shrink: 0;
}

select{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #3c00a0;
  color: white;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1.5rem;
}

select option{
  background-color: white;
  color: black;
  padding: 10px 0px;
  font-size: 1.7rem;
}

select:hover{
  background-color: #3c00a0;
}

@media only screen and (max-width: 767px) {
  .header {
    font-size: 2rem;
    padding: 0px 20px;
  }
}
