.page {
  font-size: 5rem;
}

.header {
  height: 15vh;
  background-color: #3c00a0;
  color: #ffffff;
  font-size: 3rem;
  display: flex;
  align-items: center;
  padding: 0px 40px;
  font-weight: bold;
}

.app {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

@media only screen and (max-width: 767px) {
  .header {
    font-size: 2rem;
    padding: 0px 20px;
  }
}
