@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --toastify-color-progress-light: linear-gradient(to right, #4cd964, green);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  font-size: 64.5%;
  box-sizing: border-box;
}

.Toastify__toast {
  font-size: 3.7rem;
  text-wrap: nowrap;
}

.Toastify__toast-container {
  width: fit-content;
}

form {
  width: 50%;
}

input,
textarea {
  width: 100%;
  padding: 15px 10px;
  margin-bottom: 15px;
  font-size: 1.7rem;
  background-color: white;
  border: 1px solid #3c00a0;
  color: #000000;
}

textarea {
  min-height: 200px;
}

button {
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  color: white;
  background-color: #3c00a0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  form {
    width: 90%;
  }
}
